<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>SpotifyTest</h1>
  <p>Aplicacion de prueba para conexi&oacute;n con API de <img width="70" src="../assets/images/spotify_logo.png"></p> 
</div>

<div class="container">
  <form>
    <div class="row">
      <div class="col">
        <input 
          name="albumName"
          type="text"
          class="form-control"
          placeholder="Album"
          [(ngModel)]="albumNameFilter">
      </div>
      <div class="col">
        <input 
          name="artistName"
          type="text"
          class="form-control"
          placeholder="Artista"
          [(ngModel)]="artistNameFilter">
      </div>
      <div class="col">
          <button type="submit" class="btn btn-primary" (click)="searchAlbums()">Buscar</button>
      </div>
    </div>
  </form>

  <div class="mt-20" *ngIf="albumPage && albumPage.items">
    <div class="row album-card" *ngFor="let album of albumPage.items">
        <div class="col-1">
          <img *ngIf="album.images && album.images.length" width="70" src="{{album.images[0].url}}">
          <img *ngIf="!album.images || !album.images.length" width="70" src="../assets/images/img_no-image.png">
        </div>
        <div class="col-11">
          <b>Artista:</b> {{album.artists[0].name}}<br>
          <b>Disco:</b> {{album.name}}<br>
          <b>Año:</b> {{album.releaseDate}}
        </div>
    </div>
  </div>

  <div *ngIf="alert" class="alert alert-{{alert.type}} mt-20" role="alert">
    {{ alert.message }}
  </div>

</div>